.h {
    background-color: aqua;
    text-align: center;
}

body {
    background-color: rgb(236, 227, 227);
    border-color: 70px solid  aqua;
}

div {
    text-align: center;
    margin-bottom: 40px;
    
    color: aqua;
}

button {
    background-color: rgb(43, 198, 226);
    color: aliceblue;
    padding: 10px 50px;
    border-radius: 10px;
}